body{
  background: rosybrown;
  font-family: Arial, sans-serif;
}
.business-card{
  width: 300px;
  background-color: rgb(183, 83, 148);
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
}
.profile-image{
  max-width: 100%;
}
p{
  margin: 5px;
}
a{
  text-decoration: none;
  color: white;
}